a {
  color: #242e31;
  text-decoration: none;
  font-weight: 600;
}

.icon-menu {
  display: none;
}

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .icon-menu span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    left: 0;
    top: 8px;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
